<h3>Event <a href="<%= Rails.application.credentials.frontend_url %>/my-firm/events/<%= GraphqlSchema.id_from_object(event) %>"><%= event.title %></a> was verified</h3>

<div>
  You can publish this event at any time
</div>