<h3>Event <a href="<%= Rails.application.credentials.frontend_url %>/my-firm/events/<%= GraphqlSchema.id_from_object(event) %>"><%= event.title %></a> was removed</h3>

<div>
  You can't restore this event
</div>