<h3>
  <a href="<%= Rails.application.credentials.frontend_url %>/trips/<%= GraphqlSchema.id_from_object(booking.trip) %>#<%= GraphqlSchema.id_from_object(booking)%>">Booking</a> was cancelled.
</h3>

<div>
  All payments will be refunded
</div>