<h3>Attendee was removed from the <a href="<%= Rails.application.credentials.frontend_url %>/my-firm/bookings/<%= GraphqlSchema.id_from_object(booking)%>">booking</a></h3>
Attendee was removed by <%= user.email %>
