New attendee was added to <a href="<%= "#{Rails.application.credentials.frontend_url}/my-firm/bookings/#{GraphqlSchema.id_from_object(booking)}" %>"><%= booking.event.title %> (<%= booking.schedule.scheduled_for %>) %></a>.
