<h3>You created <a href="<%= Rails.application.credentials.frontend_url %>/my-firm">firm</a></h3>

<div>
  Now you can create any events and our managers will review it. After firm will be verified you can publish your events, accept payments and manage bookings.
</div>