<h3>Firm <a href="<%= Rails.application.credentials.frontend_url %>/my-firm"><%= firm.title %></a> was verified</h3>

<div>
  Now  you can publish your events, accept payments and manage bookings.
</div>
